 .form label{
    margin:5px;
}

.mat-dialog-actions{
    padding: 8px 0;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
    display:contents !important;
}