
  <div class="navbar-fixed">
    <nav style="background-color: black;">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class=" hide-on-med-and-down">
          <li style="margin-left: 100px;"><a href="#">Solicitudes</a></li>
          <li [ngStyle]="permiss" ><a href="#">Reportes</a></li>
          <li [ngStyle]="permiss" ><a href="#">Cubo</a></li>
          <li class="right"><a href="badges.html">Salir</a></li>
        </ul>
      </div>
    </nav>
  </div>
        
