
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" class="form-control" formControlName="user" id='email' required placeholder="Nombre de usuario">
                             
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id='password' 
                            formControlName="password" required maxlength="15" placeholder="Contraseña">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recuerdame
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        No tienes una cuenta aún?<a href="#">click aquí</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Olvidaste la contraseña?</a>
                    </div>
                </div>
                <img class="responsive-img" style="width: 250px;" src="https://entresabanasyalmohadas.files.wordpress.com/2017/02/33a9b-nyan.gif" />

            </div>
           
        </div>
        
    </div>
</body>