html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px
}
.container {
    padding: 60px 15px 0;
    margin-top: 30px;
}

.filebutton {
    width:20px;
    height:40px;
    overflow:hidden;
    position:relative;
    background-color:white;
}

.btn-file{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

