<div class="container">
    <!-- Gmail Header Starts here -->
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    Redactar</button>
            </div>
        </div>
    </div>
    <!-- Gmail Header Starts here -->
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <p>
                <button class="btn btn-primary" type="button">
                    Recibidos
                </button>
            </p>
            <hr />
            <p>
                <button class="btn btn-info" type="button">
                    Enviados
                </button>
            </p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                            data-toggle="tab"> <i class="fa fa-hdd-o"></i> &nbsp;General</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        &nbsp;&nbsp;&nbsp;
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let s of solicitudes">
                                    <td scope="row"><input type="checkbox" /></td>
                                    <td><i class="fa fa-star"></i></td>
                                    <td>{{s.palabra_clave}}</td>
                                    <td>{{s.asunto_detallado}}</td>
                                    <td> <i class="fa fa-file-archive-o"> </i> </td>
                                    <td>{{s.fecha_hora}}</td>
                                </tr>                           
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" style="margin-left:63%; margin-top: 10%;" role="dialog">
    <div class="modal-dialog" style="margin: 0;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-dark text-white" style="padding-bottom: 0;">
                <div class="col-lg-6">
                    <h3>Nueva solicitud</h3>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="addRequest" (ngSubmit)="addRequestForm()">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="destinatario" formControlName="destinatario"
                            placeholder="Destinatario">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="asunto" id="asunto"
                            placeholder="Asunto">
                    </div>
                    <div>
                        <label class="form-label"> Seleccione una clasificación: </label>
                        <select class="form-select form-select-lg mb-3" formControlName="clasificador">
                            <option value="0" selected disabled="true">Elija un clasificador</option>
                            <option *ngFor="let c of clasificadores" [value]=c.id_clasificador>
                                {{c.descripcion}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" formControlName="texto" id="exampleFormControlTextarea1"
                            rows="10"></textarea>
                    </div>
                    <div id="uploadFile">
                        <table class="table table-bordered">                           
                            <tbody>
                                <tr *ngFor="let f of nombresFile">
                                    <td>
                                        <a href="#">
                                            {{f}}
                                        </a>
                                       
                                    </td>
                                    <td>
                                        <button type="button"
                                         style="padding: 0 5px 0 5px;" 
                                         (click)="deleteFile(f)" 
                                         class="btn btn-danger">x
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div> 
                    <div class="row" style="margin-left: 0;">
                        <div class="col-lg-2" style="padding-left: 0;">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                        <div class="col-lg-1 div-file">
                           
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-paperclip" viewBox="0 0 16 16">
                                        <path
                                            d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
                                    </svg>
                                </i>
                                <input type="file" id="btn_file" multiple (change)="getFiles($event)">                         
                        </div>
                        <div class="col-lg-1 div-file">
                                <i >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-image" viewBox="0 0 16 16">
                                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                        <path
                                            d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                    </svg>
                                </i>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>