<div class="container">
    <!-- Gmail Header Starts here -->
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger"> <i class="bi bi-plus-lg">Redactar</i> </button>
            </div>
        </div>
    </div>
    <!-- Gmail Header Starts here -->
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <p>
                <button class="btn btn-primary" type="button">
                    Recibidos
                </button>
            </p>
            <hr />
            <p>
                <button class="btn btn-info" type="button">
                    Enviados
                </button>
            </p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
			    	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> <i class="fa fa-hdd-o"></i> &nbsp;General</a></li>
			  	</ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        &nbsp;&nbsp;&nbsp;
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td scope="row"><input type="checkbox" /></td>
                                    <td><i class="fa fa-star"></i></td>
                                    <td>Smart Tutorials Download Link</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td> <i class="fa fa-file-archive-o"> </i> </td>
                                    <td>8:06am</td>
                                </tr>
                                <tr>
                                    <td scope="row"><input type="checkbox" /></td>
                                    <td><i class="fa fa-star"></i></td>
                                    <td>Smart Tutorials Download Link</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td> <i class="fa fa-file-archive-o"> </i> </td>
                                    <td> 8:06am </td>
                                </tr>
                                <tr>
                                    <td scope="row"><input type="checkbox" /></td>
                                    <td><i class="fa fa-star"></i></td>
                                    <td>Smart Tutorials Download Link</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td> <i class="fa fa-file-archive-o"> </i> </td>
                                    <td>Jan 1</td>
                                </tr>
                                <tr>
                                    <td scope="row"><input type="checkbox" /></td>
                                    <td><i class="fa fa-star"></i></td>
                                    <td>Smart Tutorials Download Link</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td> <i class="fa fa-file-archive-o"> </i> </td>
                                    <td> Jan 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
